html,body{height:100%}
.margin{width:1190px;margin:auto}
#top{height:80px;background: url(../imgs/top.jpg) no-repeat;background-size:cover;}

#header{border-bottom:1px solid #ccc;height:29px;background:#eee;}

#header #headerbox{line-height:29px;height:29px;}
#header #headerbox .header-nav{float:left;height:29px}
#header #headerbox .hleft{font:12px/29px "";color:#999;}
#header #headerbox .hleft h3{float:left;font:12px/29px ""}
#header #headerbox .hleft h3 a{color:#999;}
#header #headerbox .hleft a.login{float:left;margin-left:5px;}
#header #headerbox .hleft a.regi{float:left;margin-left:15px;}
#header #headerbox .hleft a.esc{float:left;margin-left:15px;}
#header #headerbox .hright{float:right;}
#header #headerbox .hright ul{}
#header #headerbox .hright ul li{float:left;height:29px}
#header #headerbox .hright ul li:last-child{display:flex}
#header #headerbox .hright ul li a{display:block;text-decoration:none;color:#999;padding:0 15px;float:left;}
#header #headerbox .hright ul li:nth-child(2) a{background:url(../imgs/drop_down_iconv.png) no-repeat right center;}
#header #headerbox .hright ul li:nth-child(3) a{background:url(../imgs/drop_down_iconv.png) no-repeat right center;}
#header #headerbox .hright ul li:nth-child(4) a{background:url(../imgs/drop_down_iconv.png) no-repeat right center;}
#header #headerbox .hright ul li:nth-child(9) b{background: url(../imgs/icon_title1.png) no-repeat center 5px;float:left;display:block;width:20px;height:20px;}
#header #headerbox .hright ul li:nth-child(9) a{padding:0 3px;}
#header #headerbox .hright ul li:nth-child(9) i{background: url(../imgs/icon_title2.png) no-repeat 0 0;width:17px;height:17px;margin-top:5px;line-height:17px;text-align:center;float:left;color:#fff;padding-left:1px}
#header #headerbox .hright ul li span{float:left;color:#999;}


#header #headerbox .hright ul li span{}
#search{height:100px;padding-top:15px;}
#search img{float:left;}
#search p{float:left;margin-left:20px;}
#search .searchform{float:left;padding-left:55px;width:500px;height:64px;}
#search .searchform form{width:494px;height:30px;border:3px solid #c40000;position:relative;}
#search .searchform form input{outline:none;border:none;}
#search .searchform form #txt{padding:2px 0 0 10px;width:400px;height:28px;float:left;}
#search .searchform form .btn{float:right;width:78px;height:30px;background: #c40000;color:#fff;font:16px/30px ""}
#search .searchform .wordlist{padding-top:8px;}
#search a.member{float:right}
#search .searchform .wordlist span{color:#999;}
#search .searchform .wordlist a{padding:0 9px;}
#search .searchform .wordlist a.active{color:#c40000;}

#search .searchform .search-res{border:1px solid #eee;width:400px;background:#fff;position:absolute;left:0;right:0;top:31px;z-index:1000; border-top: none;border-bottom: none;}
#search .searchform .search-res li{line-height:30px;margin:2px 0;text-indent:1em;border-bottom:1px dashed #ccc;}



/* 菜单 */
#menu{background:#c40000;height:40px;line-height:40px;}
#menu .margin{position:relative}
#menu .product{width:200px;color:#fff;top:0;left:0;position:absolute;}

/* 二级菜单 */
#menu .product h2{height:40px;padding-left:15px;}
#menu .product ul{z-index:999;position:relative;height:450px;background:rgba(255,255, 255, 0.9)}
#menu .product ul li{height:25px;padding:10px 0 10px 35px;}

#menu .product li.active{background:#e50048}
#menu .product ul li span{display:block;float:left;width:17px;height:17px;margin-right:10px;margin-top:1px;background: url(../imgs/icon_totle.png)}

#menu .product ul li:nth-child(1) span{background-position: -25px -154px}
#menu .product ul li:nth-child(2) span{background-position: -25px -154px}

#menu .product ul li:nth-child(3) span{background-position: -25px -180px}
#menu .product ul li:nth-child(4) span{background-position: -25px -203px}
#menu .product ul li:nth-child(5) span{background-position: -25px -232px}
#menu .product ul li:nth-child(6) span{background-position: -25px -257px}
#menu .product ul li:nth-child(7) span{background-position: -55px -23px}
#menu .product ul li:nth-child(8) span{background-position: -170px -23px}
#menu .product ul li:nth-child(9) span{background-position: -80px -23px}
#menu .product ul li:nth-child(10) span{background-position: -107px -27px}

#menu .product ul li a{display:block;float:left;padding-right:5px;line-height:19px;font-size:14px}

/* 三级菜单 */
#submenu{position:absolute;width:780px;height:450px;background:#fff;z-index:90;top:40px;left:200px;padding:0 15px;overflow:scroll;z-index:999;display:none}
#submenu #sm-f1{}
#submenu #sm-f1 .office{display:none;}
#submenu #sm-f1 h3{height:40px;border-bottom:1px dashed #ccc;}
#submenu #sm-f1 h3 a{color:#db2020}
#submenu #sm-f1 p a{margin-right:5px;}
#submenu #sm-f1 h3 a:nth-child(2){float:right}
#menu #menu-nav{float:left;margin-left:200px;height:40px;}
#menu #menu-nav li{float:left;padding-right:15px;position:relative;}

#menu #menu-nav li a{color:#fff;padding:0 25px;font: 14px/40px "";display:block;}
#menu #menu-nav li a.active{background:#db2020;}
#menu #menu-nav li a:hover{background:#db2020;}

#menu #menu-nav li:nth-child(6) img{background: url(../imgs/68.gif) no-repeat center;position:absolute;top:0;right:20px}

#menu #menu-nav li:nth-child(8) img{background: url(../imgs/73.gif) no-repeat center;position: absolute;top:0;right:20px;}


/* 轮播图 */
#banner{height:450px;background:rgb(75, 191, 252) ;position:relative;}

#banner #imgbox{width:810px;margin:auto;position:relative;overflow:hidden;height:450px;}
#banner #imgbox a{display:block;position:absolute;left:1110px;overflow:hidden;}
#banner #imgbox a:nth-child(1){left:0;}
#banner #imgbox img{height:450px;}
#banner #smallbanner{width:190px;height:450px;position:absolute;right:120px;opacity:0.9;z-index:999999;top:0;}


#banner #smallbanner #bant{height:225px;width:190px;overflow:hidden;position:relative;}
#banner #smallbanner #bant a{position:absolute;display:block;width:190px;overflow:hidden;}
#banner #smallbanner #bant a:nth-child(1){position:absolute;
}
#banner #smallbanner p{height:0;border:1px dotted #eee;}


#banner #smallbanner #banb{height:225px;width:190px;overflow:hidden;position:relative;}
#banner #smallbanner #banb a{position:absolute;display:block;width:190px;overflow:hidden;}
#banner #smallbanner #banb a:nth-child(1){position:absolute;}

#banner #smallbanner img{width:190px;height:225px;}
/* #banner ul {margin:auto;} */
#banner ul li{border-radius:50%;background:#ccc;}

#main{background:#f5f5f5;padding-top:30px;}

#main .special{height:320px;}
#main .special .sp-left{float:left;width:595px}
#main .special .sp-left h3{height:38px;border-bottom:1px solid #f00;position:relative;padding-left:15px;font:16px/38px ""}
#main .special .sp-left h3 i{display:block;position:absolute;width:5px;height:18px;background:#f53318;top:9px;left:0;}
#main .special .sp-left img{width:595px;height:251px;display:block}

#main .special .sp-right{float:left;width:595px;}

#main .special .sp-right .spr-t{height:38px;border-bottom:1px solid #f00}
#main .special .sp-right #sprt{float:left;height:38px;width:125px;text-align:center;font:16px/38px "";position:relative;}
#main .special .sp-right .active{background:rgb(215,22,53);color:#fff;}

#main .special .sp-right #sprt i{display:block;width:1px;height:18px;background:#ccc;position:absolute;right:0;top:11px;}
#main .special .sp-right  .spr-b{}
#main .special .sp-right  .spr-b .special-list{background:#fff;width:596px;height:250px;border-bottom:1px solid #ccc}
#main .special .sp-right  .spr-b .special-list img{width:140px;height:140px;margin:25px 0 0 30px;}
#main .special .sp-right  .spr-b .special-list h3{width:140px;height:18px;margin:15px 0 0 30px;}
#main .special .sp-right  .spr-b .special-list p{margin:10px 0 0 30px;width:132px;}
#main .special .sp-right  .spr-b .special-list .sprblist-l{border-right:1px solid #ccc;float:left;width:198px;height:250px;}
#main .special .sp-right  .spr-b .special-list .sprblist-l p span{color:#f40;margin-right:20px;}
#main .special .sp-right  .spr-b .special-list .sprblist-l:last-child{border-right:none;}
#main .special .sp-right  .spr-b .special-list .sprblist-c{border-right:1px solid #ccc;float:left;width:198px;height:250px;}
#main .special .sp-right  .spr-b .special-list .sprblist-r{float:left;width:198px;height:250px;}



 #main .special .sp-right  .spr-b .special-list:nth-child(2){display:none;}


#main .special  .sp-right .spr-b .special-list:nth-child(3){display:none;}
 




#main #detaillist{background:#fff;}
#main #detaillist .dl-left{float:left;margin-right:4px;}
#main #detaillist .dl-left img{width:592px;height:322px;display:block}
#main #detaillist .dl-center{float:left;width:401px;height:322px;}
#main #detaillist .dl-center ul{}
#main #detaillist .dl-center ul li{float:left;width:198px;}
#main #detaillist .dl-center ul li:nth-child(1){margin:0 4px 4px 0;}
#main #detaillist .dl-center ul li:nth-child(2){margin-bottom:4px;}
#main #detaillist .dl-center ul li:nth-child(3){margin-right:4px;}
#main #detaillist .dl-center ul li img{height:159px;display:block;}


#main #detaillist .dl-right{float:right;width:191px;height:312px}

#main #detaillist .dl-right h3{height:40px;width:191px;background:#e1e0e0}

#main #detaillist .dl-right h3 #atab{display:inline-block;width:60px;text-align:center;line-height:40px;}

#main #detaillist .dl-right h3 .more{display:inline-block;width:60px;text-align:center;line-height:40px;}
#main #detaillist .dl-right h3  .active{background:#666;color:#fff;display:inline-block;width:60px;text-align:center;line-height:40px;}
/* 选项卡 */
#main #detaillist .dl-right ul:nth-child(3){display:none;}


#main #detaillist .dl-right ul li{height:40px;padding:0 8px;}
#main #detaillist .dl-right ul li a{display:block;line-height:39px;width:175px;color:#9d9b9b;}
#main #detaillist .dl-right ul li p{width:162px;height:0;border-bottom:1px solid #eaeaea}

#adv{padding-top:30px;}
#adv img{width:100%;}


#main #floor-f1{height:420px;margin-top:30px;}
#main #floor-f1 .write{float:left;width:192px;height:422px;}
#main  .write img{display:block;margin-bottom:1px;}
#main  .write .fbanner{height:220px;overflow:hidden;position:relative;}


#main  .write .fbanner a img{width:192px;height:220px;}
#main .write .fbanner .fbannerbox {position:relative;width:192px;height:220px;}
#main  .write .fbanner a{position:absolute;width:192px;height:220px;left:192px;top:0;left:192px;display:block;overflow:hidden;}

#main  .write .fbanner a:nth-child(1){left:0;}

#main  .write ul{padding:9px 0;background:#fff;height:94px;}
#main  .write ul li{padding-left:35px;}
#main  .write ul li a{margin-right:15px;font-weight:700;line-height:28px;color:#333;}
#main  .f1-c{float:left;width:400px;}

#main  .pengoods{float:right;width:597px;text-align:center;height:420px;box-sizing:border-box;background:#fff;}

#main #floor-f1 .pengoods ul li{float:left}

#main #floor-f1 .pengoods ul.pgt{height:220px;}
#main #floor-f1 .pengoods ul.pgt a{display:block}
#main #floor-f1 .pengoods ul.pgt img{width:198px;height:200px}
#main #floor-f1 .pengoods ul.pgt .discribe{height:54px;}
#main #floor-f1 .pengoods ul.pgt h2{}
#main #floor-f1 .pengoods ul.pgt p{}


#main #floor-f1 .pengoods ul.pgb{height:200px;}

#main #floor-f1 .pengoods ul.pgb img{width:198px;height:112px}
#main  .f1-c{height:420px;}
#main  .f1-c a{display:block;width:400px;height:420px;}
#main  .f1-c a img{display:block;width:400px;height:420px;}

#main #floor-f2{height:429px;;margin-top:30px}
#main #floor-f2 .write{float:left;width:192px;height:422px;}

#main #floor-f2 .write .fbanner{position:relative;}

/* #main #floor-f1 .write .fbanner a{position:absolute;width:192px;height:220px;left:0;top:0;left:192px;display:block;} */



#main #floor-f2 .write ul{padding:9px 0;}
#main #floor-f2 .write ul li{padding-left:35px;}
#main #floor-f2 .write ul li a{margin-right:15px;font-weight:700;line-height:28px;color:#333;}



/* #main #floor-f2 .f1-c{float:left;width:400px;} */
/* #main #floor-f2 .pengoods{text-align:center;float:left;width:597px;height:429px;box-sizing:border-box;} */

#main #floor-f2 .pengoods ul li{float:left}

#main #floor-f2 .pengoods ul.pgt{}
#main #floor-f2 .pengoods ul.pgt a{display:block}
#main #floor-f2 .pengoods ul.pgt img{width:198px;height:200px}
#main #floor-f2 .pengoods ul.pgt .discribe{height:54px;}
#main #floor-f2 .pengoods ul.pgt h2{}
#main #floor-f2 .pengoods ul.pgt p{}


#main #floor-f2 .pengoods ul.pgb{}

#main #floor-f2 .pengoods ul.pgb img{width:198px;height:112px}



#main #floor-f3{height:429px;;margin-top:30px}
#main #floor-f3 .write{float:left;width:192px;height:422px;}
/* #main #floor-f3 .f1-c{float:left;width:400px;}
#main #floor-f3 .pengoods{text-align:center;float:left;width:597px;height:429px;box-sizing:border-box;} */

#main #floor-f3 .pengoods ul li{float:left}

#main #floor-f3 .pengoods ul.pgt{}
#main #floor-f3 .pengoods ul.pgt a{display:block}
#main #floor-f3 .pengoods ul.pgt img{width:198px;height:200px}
#main #floor-f3 .pengoods ul.pgt .discribe{height:54px;}
#main #floor-f3 .pengoods ul.pgt h2{}
#main #floor-f3 .pengoods ul.pgt p{}


#main #floor-f3 .pengoods ul.pgb{}

#main #floor-f3 .pengoods ul.pgb img{width:198px;height:112px}


#main #floor-f4{height:429px;;margin-top:30px}
#main #floor-f4 .write{float:left;width:192px;height:422px;}
/* #main #floor-f4 .f1-c{float:left;width:400px;height:422px;}

#main #floor-f4 .pengoods{text-align:center;float:left;width:597px;height:429px;box-sizing:border-box;} */

#main #floor-f4 .pengoods ul li{float:left}

#main #floor-f4 .pengoods ul.pgt{}
#main #floor-f4 .pengoods ul.pgt a{display:block}
#main #floor-f4 .pengoods ul.pgt img{width:198px;height:200px}
#main #floor-f4 .pengoods ul.pgt .discribe{height:54px;}
#main #floor-f4 .pengoods ul.pgt h2{}
#main #floor-f4 .pengoods ul.pgt p{}


#main #floor-f4 .pengoods ul.pgb{}

#main #floor-f4 .pengoods ul.pgb img{width:198px;height:112px}

#main #floor-f5{height:429px;;margin-top:30px}
#main #floor-f5 .write{float:left;width:192px;height:422px;}
/* #main #floor-f5 .f1-c{float:left;width:400px;}
#main #floor-f5 .pengoods{text-align:center;float:left;width:597px;height:429px;box-sizing:border-box;} */

#main #floor-f5 .pengoods ul li{float:left}

#main #floor-f5 .pengoods ul.pgt{}
#main #floor-f5 .pengoods ul.pgt a{display:block}
#main #floor-f5 .pengoods ul.pgt img{width:198px;height:200px}
#main #floor-f5 .pengoods ul.pgt .discribe{height:54px;}
#main #floor-f5 .pengoods ul.pgt h2{}
#main #floor-f5 .pengoods ul.pgt p{}


#main #floor-f5 .pengoods ul.pgb{}

#main #floor-f5 .pengoods ul.pgb img{width:198px;height:112px}


#main #floor-f6{height:429px;;margin-top:30px}
#main #floor-f6 .write{float:left;width:192px;height:422px;}
/* #main #floor-f6 .f1-c{float:left;width:400px;}
#main #floor-f6 .pengoods{text-align:center;float:left;width:597px;height:429px;box-sizing:border-box;} */

#main #floor-f6 .pengoods ul li{float:left}

#main #floor-f6 .pengoods ul.pgt{}
#main #floor-f6 .pengoods ul.pgt a{display:block}
#main #floor-f6 .pengoods ul.pgt img{width:198px;height:200px}
#main #floor-f6 .pengoods ul.pgt .discribe{height:54px;}
#main #floor-f6 .pengoods ul.pgt h2{}
#main #floor-f6 .pengoods ul.pgt p{}


#main #floor-f6 .pengoods ul.pgb{}

#main #floor-f6 .pengoods ul.pgb img{width:198px;height:112px}




#main #floor-f7{height:429px;;margin-top:30px}
#main #floor-f7 .write{float:left;width:192px;height:422px;}
/* #main #floor-f7 .f1-c{float:left;width:400px;}
#main #floor-f7 .pengoods{text-align:center;float:left;width:597px;height:429px;box-sizing:border-box;} */

#main #floor-f7 .pengoods ul li{float:left}

#main #floor-f7 .pengoods ul.pgt{}
#main #floor-f7 .pengoods ul.pgt a{display:block}
#main #floor-f7 .pengoods ul.pgt img{width:198px;height:200px}
#main #floor-f7 .pengoods ul.pgt .discribe{height:54px;}
#main #floor-f7 .pengoods ul.pgt h2{}
#main #floor-f7 .pengoods ul.pgt p{}


#main #floor-f7 .pengoods ul.pgb{}

#main #floor-f7 .pengoods ul.pgb img{width:198px;height:112px}


/* 品牌 */

#hotbrand{height:301px;margin-top:30px;padding-top:20px;}
#hotbrand h3{height:23px;width:218px;}

#hotbrand ul{margin-top:15px;border-top:1px solid #000;border-left:1px solid #000;width:1185px;height:243px;}

#hotbrand ul li{float:left;width:147px;height:80px;border-right:1px solid #000;border-bottom:1px solid #000}
#hotbrand ul li a{display:block;text-align:center}
#hotbrand ul li a img{height:45px;width:90px;margin-top:17px}



#footer{height:660px;}
#footer #footerbox{margin-left:70px;margin-top:20px;}
#footer #footerbox .foottop{height:98px;;}
#footer #footerbox .foottop .about{height:30px;}

#footer #footerbox .foottop .about h3{float:left;width:100px;height:30px;text-align:center;line-height:30px;background:#eee;font-size:12px;}
#footer #footerbox .foottop .about h3.active{background: #999;color:#fff;}
#footer #footerbox .foottop .partenerimg{margin-top:20px;}

#footer #footerbox .foottop .friendlink2{display:none;}
#footer #footerbox .foottop .word2{display:none}


#footer #footerbox .footcenter{height:100px;margin-top:20px; }

#footer #footerbox .footcenter ul{}

#footer #footerbox .footcenter ul li{float:left}
#footer #footerbox .footline{height:1px;background:#ccc;}
#footer #footerbox .footerbottom{height:170px;padding-top:20px;}
#footer #footerbox .footerbottom dl{float:left;margin-left:12px;width:152px;height:150px;}
#footer #footerbox .footerbottom dl:nth-child(1){margin-left:70;}
#footer #footerbox .footerbottom dl dt{height:20px;margin-bottom:10px;color:#6e6e6e;font-size:14px}
#footer #footerbox .footerbottom dl dd{height:20px;font:12px/20px ""}
#footer #footerbox .footer-nav{text-align:center;}
#footer #footerbox .footer-nav .fn-t{height:38px;background:#c40000;font:12px/38px "";color:#fff;}
#footer #footerbox .footer-nav .fn-t a{color:#fff;padding:0 10px;margin:0 10px;}


#footer #footmsg{background :#f5f5f5;height:120px;padding-top:20px;}
#footer #footerbox .footer-nav .copyright{height:56px;line-height:25px;color:#999;}

#footer #footerbox .footer-nav .footlogo{height:40px;margin-top:15PX;}

#sideleft{width:40px;position:fixed;left:50px;bottom:30px;display:none}
#sideleft ul{text-align:center;}
#sideleft ul li{margin:5px 0;width:40px;background:#666;width:36px;}
#sideleft ul li a{color:#fff;padding:3px;display:block;width:30px;height:30px;line-height:36px;line-height:15px;}
#sideleft .sidenav{line-height:30px;background:#f40;display:block;color:#fff;text-align:center;}
#sideleft ul li:first-child{}
#sideleft .returntop{line-height:30px;display:block;color:#fff;text-align:center;background:#666;}
#sideleft ul li:nth-child(1):hover{background:#e93052}
#sideleft ul li:nth-child(2):hover{background:#cc9368}
#sideleft ul li:nth-child(3):hover{background:#aebc65}
#sideleft ul li:nth-child(3):hover{background:#45c0a1}

#slideright{height:100%;width:50px;background:#000;position:fixed;right:0;top:0;}
#slideright #order{margin-top:100px;}
#slideright #order a{display:block;background: url(../imgs/my_order.png) no-repeat;width:35px;height:35px;}

#slideright #mycar{margin-top:50px;text-align:center}
#slideright #mycar i{display:block;background: url(../imgs/cart2.png) no-repeat;width:35px;height:35px;margin-left:5px;}
#slideright #mycar a{width:20px;margin:auto;color:#fff;display:block;}
#slideright #mycar em{display:block;color:#Fff;width:35px;height:35px;background:url(../imgs/wjyhui_tab_num.png) no-repeat;line-height:35px;margin-left:8px;}
#slideright #customerservice{margin-top:100px;display:block;width:35px;height:53px;background:url(../imgs/live.png) no-repeat;margin-left:10px;}

#scrollsearch{height:50px;background:#000;position:fixed;top:0;left:0;right:0;display:none;}
#scrollsearch img{float:left;margin-top:10px;}
#scrollsearch form{border:3px solid #c40000;height:30px;float:left;margin-top:10px;width:600px;}
#scrollsearch form #txt{float:left;height:30px;border:none;outline:none;width:500px;text-indent:1em;}
#scrollsearch form #btn{display:block;float:left;width:100px;background:#c40000;border:none;height:30px;color:#fff;font:14px/30px "";}